*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-bg-color{
    background-color: #d86262;
}

.container-fluid{
    margin: auto;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    background-color: aqua;
}

.dt-site-name-container {
    width: 29.752%;
    min-width: 300px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
}

.dt-nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 68.595%;
  height: 100%;
  padding: 20px;
}

.dt-nav-item {
    list-style: none;
    display: inline-block;
    width: 140px;
    height: 90px;
    margin-right: 15px;
    background-color: white;
  }

  @media (max-width: 899px) {
    .header {
      height: auto;
      flex-direction: column;
    }
    .dt-site-name-container,
    .dt-nav-container {
      width: 100%;
    }
  
    .dt-site-name-container {
      margin-right: 0;
      padding:50px;
    }
  }
  
  @media (max-width: 600px) {
    .dt-nav-item { margin: 10px; }
    .dt-nav-item:last-child { margin-right: 10px; }
  
    .dt-nav ul {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  
  .dt-nav-link {
    color: #666;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
    font-size: 1.2rem;
  }

  .dt-h2-title{
    font-size: 15px;
  }

  @media (max-width: 1033px) {
    .dt-nav-item {
      width: 110px;
      height: 60;
    }
    .dt-nav-link { padding-left: 20px; }
  }

/* Elements css */
/* button */

/* input */
.input {
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    margin-bottom: 5px;
}

/* button */

  
.tm-btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.1rem;
  border: none;
  color: white;
}

.tm-btn-no-hover {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.1rem;
  border: none;
  background-color: #CC9999;
  color: white;
}

.tm-btn:hover {
  color: white;
  background-color: #875959;
}

.btn-rounded {
  border: none;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.bg-dark{
  background-color: rgba(0,0,0,0.4);
}

.bg-yellow{
  border: 1px solid #ffa908;
	background-color: #f3a109;
}

.bg-red{
  border: 1px solid #df3434;
  background-color: #fc2d2d;
}

.btn-rounded:active {
	transform: scale(0.95);
}

.btn-rounded:focus {
	outline: none;
}

.btn-rounded.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

/* display */
.flex-direction{
  display: flex;
}
.tm-float-left{
  float: left;
}
.tm-float-right{
  float: right;
}

/* table */
th{
  background-color: rgb(177, 177, 177);
  color: #ffffff;
  border: 1px solid #999;
}
td, th {
  border: 2px solid #fff;
  padding: 0.5rem;
  text-align: left;
} 
/* card */

