html,
body {
  height:100%;
  margin:0;
}
.home-container{
    min-height:100%;
   position:relative;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;   /* Height of the footer */
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
    background-color: #fff;
}
.login{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding:30px;
}

.home-page{
    display: grid;
    grid-template-columns: 40% 65%; 
    grid-template-rows: auto;
    grid-column-gap: 10px;
}
@media only screen and (max-width: 900px){
   .home-page{
       display: grid;
       grid-template-columns: 100%;

   }
   .home-c.image-content{
       display: none;
   }
}