body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}
.content .content-header-left{
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}
.content .content-header-right{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.content .content-body{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
.content-body.no-task{
  /* display: block;
  margin-left: 40%;
  padding: 20px; */
  display: block;
  margin-left: 40%;
}

.task-bgimage{
  margin-left: 55px;
  opacity: 0.6;
}

/* Add task */
.list-todo{
  width: 50em;
  height: 30em;
  justify-content: center;
  margin-left: 8em;
  text-align: center;
}

.list-item li{
  list-style: none;
  padding: 10px;
}

/* table task */
.link-task-update{
  text-decoration: none;
  background-color: aqua;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin:5px;
}

.link-task-update:hover{
  cursor: pointer;
}

.table .row-data{
  padding: 8px;
}

#state{
  text-align: center;
}
.state-content{
  display: flex;
  justify-content: flex-end;
}
.task-content{
  width: 100%;
}

.table{
  width: 100%;
  margin-top: 15px;
}

.btn-state-icon{
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 30%), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgb(204 198 197 / 50%);
  height: 50px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 50px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.btn-state-icon:after{
  color:#e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.flower:after{
  content: "✿";
  left: 30%;
  top: 15%;
  font-size: 25px;
}

.tick:after{
  content: "✔";
  left: 30%;
  top: 15%;
  font-size: 25px;
}

.cross:after{
  content: "✖";
  left: 30%;
  top: 15%;
  font-size: 25px;
}

.btn-state-icon:hover{
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color:#0088cc;
}

.flower:hover:after{
  color:#f99e4e;
  text-shadow:0px 0px 6px #f99e4e;
}

.tick:hover:after{
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}

.cross:hover:after{
  color:#eb2f2f;
  text-shadow:0px 0px 6px #eb2f2f;
}

.flower:active{
  color:#f99e4e;
  text-shadow:0px 0px 6px #f99e4e;
}
.tick:active{
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}
.cross:active{
  color:#eb2f2f;
  text-shadow: 0px 0px 6px #eb2f2f;
}

.btn-state-icon:active{
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.btn-state-icon:active:after{
  color:#dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.btn-outline.card-footer-content{
  margin-top: 10px;
  padding-top: 10px;
}

.input.modal-content-container{
  margin-top: 20px;
}
/* ---------------------------------------------- PROJECT -----------------------------------------------------------*/
.col.col-end {
  margin-left: 55%;
}

.add-project{
  height: auto;
  position: absolute;
  transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  top: -450px;
  margin-left: 150px;
  width: 70%;
  z-index:1;
}
.add-project + h2{
  text-align: center;
}
.container{
  height:auto;
}
.toggle{
  transition: margin 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  margin-top: 390px;
}

.card-header > h5{
  color: #fff;
  font-size: 1.1em;
}
button.bubbly-button.btn-submit-project {
  margin-top: 15px;
  margin-left: 35%;
}
/* ----------------------------------------------   EVENT -----------------------------------------------------------*/

#myCalendarWrapper {
  width: 40em;
  border: 1px dashed black;
  padding: 2em 4em;
  position: relative;
  font-size: 1rem;
  /* margin: 2rem auto 5rem; */
}

#myCalendarWrapper:before {
  content: '#myCalendarWrapper';
  position: absolute;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 2.4rem);
  font-size: 1.2rem;
  background-color: rgba(93, 93, 93, 0.2);
  padding: 0.5rem 1rem 0.4rem;
  color: rgb(233, 72, 99);
}

#example {
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}

#example h3:not(:first-of-type) {
  margin-top: 3rem;
}

#example p {
  font-size: 0.9rem;
}

.col-event{
  display: inline-block;
  vertical-align: top;
}

.edit-area{
  background-color: #cac4c4;
  width: 28em;
  margin-left: 30px;
  height: auto;
}

.content-event{
  margin: 3%;
  width: 95%;
  display: block;
}
